
{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<section id="hero-section">
  <div class="hero-container w-full">
    <div class="hero-content relative">
      <img class="w-full h-auto" src="{{'demo-image-3.webp' | asset_url }}" alt="hero-image" width="1200" height="801" />
      <h1 class="absolute uppercase text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-5xl sm:text-[120px]">No Rules, <br>Just <strong>Denim</strong></h1>
    </div>
  </div>
</section>

<div class="issues bg-[#1F3D7C] px-2 py-8 w-full">
  <div class="issues-grid grid grid-cols-4 gap-8 w-full sm:w-2/3 mx-auto">
    <div class="text-white text-center">
      <h3 class="text-xs uppercase">Lavado</h3>
      <p class="highlight-description">Eco Friendly</p>
    </div>

    <div class="text-white text-center">
      <h3 class="text-xs uppercase">Telas</h3>
      <p class="highlight-description">Duraderas</p>
    </div>

    <div class="text-white text-center">
      <h3 class="text-xs uppercase">Costuras</h3>
      <p class="highlight-description">Resistentes</p>
    </div>

    <div class="text-white text-center">
      <h3 class="text-xs uppercase">Fit</h3>
      <p class="highlight-description">Ajustables</p>
    </div>
  </div> 
</div>


{% stylesheet %}
  .welcome {
  }

  .welcome-content {
  }

  .welcome-description {
  }

  .icon {
    width: 300px;
  }

  .highlights {
  }


  .highlight {
  }

  .highlight > * + * {
  }

  .highlight h3 {
  }

  .highlight-description {
  }

  .highlight a {
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Home",
  "settings": [],
  "presets": [
    {
      "name": "Home Template",
      "category": "Indigo"
    }
  ]
}
{% endschema %}
